body {
    margin: 0;
    background-color: rgb(32, 32, 32);
    height: inherit;
}

#root {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: fit-content;
    margin: 0 auto 0 auto;
}

.game-board {
    display: grid;
    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;
}

.cell {
    border-radius: 1px;
    background-color: rgb(32, 32, 32, 0.1);
    margin: 1px;
}

.empty-cell {
}

.snake-cell {
    background-color: #333333;
    margin: 1px;
}

.food-cell {
    padding: 2px;
}
