body {
    background-color: rgb(32, 32, 32);
    height: inherit;
}

#root {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: fit-content;
    margin: 0 auto 0 auto;
}

.score-board {
    margin: 0 0 10px auto;
}

.score-title,
.score {
    font-family: sans-serif;
    color: #cccccc;
    text-align: right;
}

.score-title {
    font-size: 24px;
    color: #aaaaaa;
}

.score {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.game-board {
    display: grid;
    background-color: #888888;
    border: 1px solid #888888;
}

#settings_dropdown {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

#settings_dropdown:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.snake-cell {
    background-color: #333333;
    /* margin: 1px; */
}

.dead-snake-cell {
    background-color: #ff3333;
    /* margin: 1px; */
}

.food-cell {
    border-radius: 2px;
    margin: 2px;
    background-color: #fcba03;
}
