body {
    margin: 25px;
    background-color: rgb(32, 32, 32);
    height: inherit;
}

#root {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: fit-content;
    margin: 0 auto 0 auto;
}

.game-board {
    display: grid;
    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;
}

.snake-cell {
    background-color: #333333;
    margin: 1px;
}

.dead-snake-cell {
    background-color: #553333;
    margin: 1px;
}

.food-cell {
    border-radius: 2px;
    margin: 3px;
    background-color: black;
}
