@import './common/colors.scss';

$dropdown-color: lighten($theme-dark-gray, 8);
$setting-color: $theme-black;

#settings_dropdown {
    background-color: $dropdown-color;
    margin: 5px 0;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.setting {
    display: flex;
    font-family: sans-serif;
    min-width: 50%;
    margin: 1em auto;
}

.setting label {
    color: white;
    display: flex;
    margin: auto 1em auto 1em;
    flex: 0 0 1;
}

.setting input,
.setting select {
    background-color: $setting-color;
    color: white;
    flex: 1 1;
    margin: auto 1em auto auto;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
}

#save-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.save-button {
    font-size: 1em;
    margin: 1em auto;
    min-width: 25%;
    padding: 0.75em;
    color: #cccccc;
    background-color: #101010;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

.save-button:disabled {
    color: $theme-gray;
}

.save-button:focus {
    outline: none;
}

.save-button:focus-within:active {
    background-color: #222222;
    color: #aaaaaa;
}
