#settings_dropdown {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

#settings_dropdown:hover {
    background-color: rgba(255, 255, 255, 0.05);
    outline: 2px solid white;
}

.setting {
    display: flex;
    font-family: sans-serif;
    min-width: 50%;
    margin: 1em auto;
}

.setting label {
    color: white;
    display: flex;
    margin: auto 1em auto 1em;
    flex: 0 0 1;
}

.setting input,
.setting select {
    background-color: #101010;
    color: white;
    flex: 1 1;
    margin: auto 1em auto auto;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
}

.setting input:hover,
.setting select:hover {
    background-color: #303030;
    outline: 2px solid white;
}

.setting input:active,
.setting select:active {
    outline: 2px solid white;
}

.save-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.save-button {
    margin: 1em auto;
    min-width: 25%;
    padding: 1em;
    color: #cccccc;
    background-color: #101010;
    border: 0;
    border-radius: 5px;
}

.save-button:hover {
    outline: 2px solid white;
    background-color: #303030;
    color: #dddddd;
}

.save-button:focus {
    outline: none;
}

.save-button:focus-within:active {
    background-color: #222222;
    color: #aaaaaa;
}
