$theme-black: #101010;
$theme-dark-gray: #202020;
$theme-gray: #666666;
$theme-white: #cccccc;
$theme-yellow: #fcba03;

.text-black {
    color: $theme-black;
}

.text-gray {
    color: $theme-gray;
}

.text-white {
    color: $theme-black;
}

.text-yellow {
    color: $theme-yellow;
}
